# Application settings
APP_NAME=mlvt
APP_ENV=development
APP_DEBUG=true

# Server configuration
SERVER_PORT=8080

# Logging configuration
LOG_LEVEL=INFO
LOG_PATH=logs/

# Database configuration
DB_DRIVER=postgres
DB_USER=mlvt
DB_PASSWORD=thang7ratruong
DB_NAME=mlvt
DB_HOST=127.0.0.1
DB_PORT=5432
SSL_MODE=disable

# MongoDB uri connection
MONGODB_ENDPOINT=mongo_url

# Security settings
JWT_SECRET=veryvery

# Swagger settings
SWAGGER_ENABLED=true
SWAGGER_URL=http://localhost:8080/swagger

# S3 configuration
AWS_REGION=aws_region
AWS_BUCKET=bucket
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_KEY=secret_key

# Language setting
LANGUAGE=en

# Path to get message localization
I18N_PATH=i18n/

# Folder in aws s3
AUDIO_FOLDER=audios
AVATAR_FOLDER=avatars
VIDEOS_FOLDER=raw_videos
TRANSCRIPTIONS_FOLDER=transcriptions
VIDEO_FRAMES_FOLDER=video_frames

# Ec2 configuration
EC2_PORT=8000
EC2_IP_ADDRESS=3.39.33.45

# Migration path
MIGRATIONS_PATH=../../migration

TELEGRAM_BOT_TOKEN=tele_bot_token
TELEGRAM_CHAT_ID=chat_id

VIETQR_CLIENT_ID=client_id
VIETQR_API_KEY=api_key
VIETINBANK_ACCOUNT_NO=account_no
VIETINBANK_ACCOUNT_NAME=account_user
VIETINBANK_BIN_CODE=pin_code

# SMTP service
SENDER_EMAIL=mlvt.project.hcmus@gmail.com
SMTP_PASSWORD=password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
